<div class="collection">
  <div class="collection-item">
    <input id="search" name="search" type="search" autocomplete="off" placeholder="Search" [(ngModel)]="term" (input)="searchContacts.emit($event.target.value)">
  </div>
  <a class="collection-item avatar grey-text text-darken-4" *ngFor="let contact of contacts | async" (click)="selectContact.emit(contact)">
    <img [src]="contact.image" alt="" class="circle">
    <span class="title">{{contact.name}}</span>
  </a>
</div>
<div class="center" [class.hide]="!searching">
  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>