/deep/ .collection {
  margin-top: 0;
}
/deep/ .collection:last-child,
/deep/ .row:last-child {
  margin-bottom: 0;
}

/deep/ .card-title {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(0, 0, 0, 0.5);
}

/deep/ .collection .collection-item.avatar .circle {
  top: 1.5em;
}
/deep/ .collection .collection-item .title {
  margin-top: 1.5em;
  display: inline-block;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-wrapper {
  margin-top: 20em;
}

/deep/ .col.s6 .material-icons {
  vertical-align: -25%;
}

/deep/ fieldset legend {
  font-size: 20px;
  color: #666;
  background: #fff;
  padding: 0.5em;
}

/deep/ fieldset legend .material-icons {
  vertical-align: -12%;
}

/deep/ select {
  display: block;
}

/deep/ .input-field .input-select-label {
  position: static;
}

/deep/ .card .card-content .error-msg {
  color: #F44336;
  margin-left: 3em;
}

/deep/ .collection .collection-item.avatar .circle {
  background: #ccc;
}

.loading-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 10;
  transition: opacity .25s ease-in-out, z-index 0s linear;
}
.loading-overlay.hide {
  display: block !important;
  opacity: 0;
  z-index: -1;
  transition: opacity .25s ease-in-out, z-index 0s .5s linear;
}